.profile {
    padding: 25px;
    margin-block: center;
    width: 70%;
    height: 70%;
}
h1 {
    font-family: 'Gotu', sans-serif;

}
h4 {
    font-family: 'Gotu', sans-serif;
}
.col-7 {
    padding: 10px;
    background-color: RGB(255, 218, 193);
    position: relative ; top: 20px;
    border-radius: 25px;
}
ul {
    float: right;
}
html {
    background-image: url("Images/beach\ bkg.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
}
.footer {
    background-color: lightblue;
    position: fixed; 
    bottom: 0px;
    width: 100%;
    text-align: center;  
}
.portfolio {
    padding: 10px;
    background-color: RGB(255, 218, 193);
    position: relative ; top: 20px;
    border-radius: 25px;
}

#logoImage {
    width:15px;
    height:15px;
}

#profileDiv {
    padding: 25px;
    float: center;
}
.bannerImage {
    background-color: #d9effc;
    text-align: center;
}

#portfolioDiv {
    align-items: center;
}